.verticalLine {
    width: 3px; /* Line width */
    background-color: #c44536; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center {
    margin-right: auto;
    margin-left: auto;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.timeline-item {

}

.timeline-item-date {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.timeline-item-content {
    opacity: 0.9;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.timeline-item-content:hover {
    opacity: 1;
}

.timeline-item-content:hover .timeline-heading{
    font-size: 23px;
}

.timeline-heading {
    font-size: 22px;
    color: #283d3b;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.timeline-circle {
    height: 30px;
    width: 30px;
    background-color: #772e25;
}

.circle {
    border-radius: 50%;
}

.icon {
    width: 30px;
    height: 30px;
    margin-bottom: 8px;
    margin-right: 20px;
}

.sidebar-item:hover *{
   color: #ffffff;
   stroke: white;
}

.sidebar-item:hover {
    color: #ffffff;
}

.sidebar-item {
    font-size: 28px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: #edddd4;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 400px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar span{
    display: block;
}

.content {
    margin-left: 400px;
    height: 100%;
    overflow: auto;
}

.profile-picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
}

.date-internal {
    display: none;
}

@media screen and (max-width: 1000px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar span {
        text-align: center;
        float: none;
    }
    .content {margin-left: 0;}
    .profile-picture {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}

@media screen and (max-width: 600px) {
    .sidebar span {
        text-align: center;
        float: none;
    }
    .date-internal {
        display: block;
    }
    .hide-timeline {
        display: none;
    }
    .show-timeline {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


